<p>stringinterpolation works!</p>
<!-- why we use  
    - to display data dynamically to end user then we go for string interpolation => we just display dynamically HTML Content   <a>Home</a>
    <div >
        mfbkdzjfbh    
    </div>

    synatx=> {{propertyName}}
        - u can apply ant html tag 

-->

<h2> {{name}} </h2>
<h2> {{'Hi Welcome '+name}} </h2>
<div>
    {{getName()}}
</div><br><br>
<img src=" {{imgUrl}} " alt=""> <br><br>
<h2> Result:: {{num+num}} </h2>

<h2> {{num1+num1}} </h2>